@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

header {
    padding: 10px 15px 1px;
    background-color: #37d0e8;
    box-shadow: 1px -4px 10px #000;
}

header p {
    font-size: 13px;
    color: #333;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
}

#shuffle {
    margin:5px 0;
    border-radius:5px;
    cursor:pointer;
}

.draggable {
    cursor: move;
}

.draggable .btn {
    visibility: hidden;
}

.draggable:hover .btn {
    visibility: visible;
}

.draggable.over {
    border: 1px dashed #000;
}

#share {
    position: relative;
}
#share span {
    display: none;
}
#share.active span {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
    display: block;
    font-size: 0.75rem;
    left: -100%;
    padding: 5px;
    position: absolute;
    top: 40px;
    width: 10rem;
    z-index: 5;
}

@media (min-width: 576px) {
    .lineup-wrap {
        margin-top: 5.6rem;
    }
}

@media print {
    header,
    details,
    .lineups h3 {
        display: none;
    }
}
