@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

header {
    padding: 10px 15px 1px;
    background-color: #37d0e8;
    box-shadow: 1px -4px 10px #000;
}

header p {
    font-size: 13px;
    color: #333;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
}

#shuffle {
    margin:5px 0;
    border-radius:5px;
    cursor:pointer;
}

.draggable {
    cursor: move;
}

.draggable .btn {
    visibility: hidden;
}

.draggable:hover .btn {
    visibility: visible;
}

.draggable.over {
    border: 1px dashed #000;
}

@media (min-width: 576px) {
    .lineup-wrap {
        margin-top: 5.6rem;
    }
}
